.admin-page {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.menu-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #173030;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.menu-admin h2 {
    margin: 0;
    font-size: 24px;
}

.menu-opciones button {
    padding: 10px 20px;
    background-color: #173030;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 16px;
}

.menu-opciones button.activo {
    background-color: #ffffff;
    color: #173030;
    font-weight: bold;
}

.contenedor-general {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.graficas {
    display: flex;
    gap: 30px;
}

.contenedor-pedidos {
    text-align: center;
    font-size: 18px;
    color: #555;
}
