@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.footer {
    background-color: #0B2D21;
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.footer-info p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-links {
    display: flex;
    gap: 1rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 1rem;
}

.footer-social a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.footer-social a:hover {
    color: #d1d1d1;
}
