.search-bar {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 250px;
    text-align: center;
    outline: none;
    transition: 0.3s ease-in-out;
  }
  
  .search-bar:focus {
    border-color: #173030;
  }
  