.status-button {
		padding: 0.25rem;
		text-decoration: none;
		text-align: center;
		border-radius: 10px;
		width: 7rem;
		cursor: pointer;
		background-color: #000;
		color: #fff;
		display: inline;
}